<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-dona [titulo]="'Ventas'"></app-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-dona [data]="data"></app-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-dona [titulo]="'Sales'"></app-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-dona [titulo]="'Sales'"></app-dona>
      </div>
    </div>
  </div>
</div>
